@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600;700;900&display=swap');

.Branches-container {
    padding: 10px 30px;
    min-height: 650px;
    background: #fff;
}

.Branch_title_box {
    border-radius: 5px;
    padding: 5px 0px ;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:  0px 3px 6px rgba(0, 0, 0, 0.16);
}

.Branch_title_box_span {
    font-size: 28px;
    font-family: 'Saira', sans-serif;    
    font-weight: 700;
    color: #fff;
}

.Branches-delivery-toggle {
    width: 1310px;
    padding: 10px 40px;
    display: block;
}

.Branches-delivery-toggle_top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Branches-container_box {
    flex-wrap: wrap;
    display: flex;
    margin-top: 10px;
}

.Branch-deliveryTabs {
    width: 100%;
    cursor: pointer;
    padding: 10px;
}

.ConfirmTab {
    background: #953fb4;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 14px;
    font-family: 'Saira', sans-serif;    
    font-weight: 500;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 3px 7px rgba(213,217,217,.5) ;
}

.ShipTab {
    background: red;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 14px;
    font-family: 'Saira', sans-serif;    
    font-weight: 500;
    box-shadow: 0px 3px 7px rgba(213,217,217,.5) ;
    border-radius: 10px;
    border: none;
}

.DeliverTab {
    background: #03C04A;
    width: 100%;
    box-shadow: 0px 3px 7px rgba(213,217,217,.5) ;
    height: 100%;
    color: #fff;
    font-size: 14px;
    font-family: 'Saira', sans-serif;    
    font-weight: 500;
    border-radius: 10px;
    border: none;
}

.DeliveredOrders {
    background: #c25be9;
    width: 100%;
    box-shadow: 0px 3px 7px rgba(213,217,217,.5) ;
    height: 100%;
    color: #fff;
    font-size: 14px;
    font-family: 'Saira', sans-serif;    
    font-weight: 500;
    border-radius: 10px;
    border: none;
}

.active-Branch-deliveryTabs {
    outline: none;
    background: #026c90;
}
/* cdcccc */
.active-Deliveries {
    /* margin-top: 10px; */
    width: 100%;
    padding: 5px 0px 50px 0px;
}


.Deliveries-hidden {
    display: none;
}

.TrackOrder-item_box_branch {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
    background: #fff;
    display: block;
    padding: 20px;
    border: 1px solid #c5cbd5;
}

.Track-Order-item_delivery_address_p_branch {
    /* margin-top: 1px; */
    font-size: 14px;
    font-family: 'Saira', sans-serif;    
    font-weight: 700;
    color: orange;
}

.TrackOrder-item_top_section {
    width: 100%;
    height: 200px;
    display: flex;
}

.TrackOrder-item_image_box {
    width: 290px;
    height: 100%;
    background: #fff;
}

.Track_Order-item_price_box {
    width: 65%;
    padding: 20px 0px 0px 10px;
    display: flex;
    /* border-top: 1px solid #e7e7e7; */
}

.Track_Order-item_quantity_box {
    width: 35%;
    padding: 20px 0px 0px 10px;
    display: flex;
    /* border-top: 1px solid #e7e7e7; */
}

.TrackOrder-item_title_box {
    width: 450px;
    height: 100%;
    padding: 0px 15px;
    display: block;
    border-right: 2px solid #e7e7e7;
}

.TrackOrder-item_title {
    width: 100%;
    height: 61%;
    overflow: hidden;
    line-height: 1.3;
    padding-bottom: 5px;
}

.TrackOrder-item_title_span_branch {
    font-size: 19px;
    font-family: 'Saira', sans-serif;    
    font-weight: 700;
    color: #333;
}

.Track_Order-item_price-quantity {
    width: 100%;
    height: 39%;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
}

.TrackOrder-item_price-quantity_box {
    width: 50%;
    padding: 30px 20px 0px 20px;
    display: flex;
    border-top: 1px solid #e7e7e7;
}

.TrackOrder-item_price-quantity_title_branch {
    font-size: 17px;
    font-family: 'Saira', sans-serif;    
    font-weight: 700;
    color: #333;
}

.TrackOrder-item_price-quantity_right {
    padding-left: 20px;
    padding-top: 1px;
}

.TrackOrder-item_price-quantity_right_span_branch {
    font-size: 17px;
    font-family: 'Saira', sans-serif;    
    font-weight: 700;
    color: #74767c;
}

.TrackOrder-item_delivery_box {
    width: 270px;
    height: 100%;
    display: block;
    line-height: 18px;
    padding-left: 20px;
}

.TrackOrder-item_delivery_address {
    width: 100%;
    padding-top: 10px;
    display: block;
}

.TrackOrder-item_delivery_address_span {
    font-size: 18px;
    font-family: 'Saira', sans-serif;    
    font-weight: 700;
    color: #333;
}

.TrackOrder-item_delivery_address_p {
    margin-top: 5px;
    font-size: 14px;
    font-family: 'Saira', sans-serif;    
    font-weight: 700;
    color: royalblue;
}

.TrackOrder-item_status_box {
    width: 100%;
    padding: 5px 5px 0px 5px;
    display: block;
}

.TrackOrder-item_status_types {
    display: flex;
}

.TrackOrder-item_status_types_right {
    padding-left: 15px;
    display: flex;
}


.TrackOrder-item_status_span {
    font-size: 14px;
    font-family: 'Saira', sans-serif;    
    font-weight: 600;
    color: #656481;
}

.TrackOrder-item_delivery_stages_box {
    width: 100%;
    height: 31px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TrackOrder-item_delivery_stages_types-span {
    font-size: 14px;
    font-family: 'Saira', sans-serif;    
    font-weight: 700;
    color: #00BFFF;
}

.TrackOrder-item_delivery_stages_types-span_confirmed {
    font-size: 14px;
    font-family: 'Saira', sans-serif;    
    font-weight: 700;
    color: red;
}

.TrackOrder-item_delivery_stages_types-span_shipped {
    font-size: 14px;
    font-family: 'Saira', sans-serif;    
    font-weight: 700;
    color: #03C04A;
}

.TrackOrder-item_delivery_stages_types-span_Done {
    font-size: 14px;
    font-family: 'Saira', sans-serif;    
    font-weight: 700;
    color: #c25be9;
}

.TrackOrder-item_delivery_client-confirm {
    display: flex;
    padding-left: 450px;
}

.TrackOrder-item_delivery_client-confirm_yes {
    padding-left: 20px;
}

.item_delivery_client-question_box {
    display: block;

}

.item_delivery_client-question {
    font-size: 14px;
    font-family: 'Saira', sans-serif;    
    font-weight: 700;
    color: #74767c;
}

.delivery-client-confirm_yes_button {
    width: 30px;
    margin-top: 2px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border:  2px solid #c2bfbf;
    background: #fff;
}


.TrackOrder-item_delivery_stages {
    width: 350px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid lightgray;
    justify-content: center;
}

.TrackOrder-item_delivery_confirmed {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    background: #00BFFF;
    border-radius: 20px;
    cursor: pointer;
    justify-content: center;
}

.TrackOrder-item_delivery_shipped {
    width: 350px;
    height: 100%;
    display: flex;
    align-items: center;
    background: red;
    border-radius: 20px;
    justify-content: center;
}

.TrackOrder-item_delivery_complete {
    width: 350px;
    height: 100%;
    display: flex;
    align-items: center;
    background: #c25be9;
    border-radius: 20px;
    justify-content: center;
}

.TrackOrder-item_delivery_delivered {
    width: 350px;
    height: 100%;
    display: flex;
    cursor: pointer;
    align-items: center;
    background: #03C04A;
    border-radius: 20px;
    justify-content: center;
}

.TrackOrder-item_delivery_stages-active {
    font-size: 14px;
    font-family: 'Saira', sans-serif;    
    font-weight: 500;
    color: #fff;
}

.TrackOrder-item_delivery_stages_span {
    font-size: 14px;
    font-family: 'Saira', sans-serif;    
    font-weight: 700;
    color: #c2bfbf;
}

.hideEditAddress {
    display: none;
}

.show_editAddress {
    width: 260px;
    font-family: 'Saira', sans-serif;    

}

.show_editAddressSave {
    display: flex;
    margin-top: 2px;
    font-family: 'Saira', sans-serif;    

}