@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

.CLient-sidebar_container {
    width: 250px;
    position: fixed;
    top: 108px;
    /* padding: 80px 20px 20px 20px; */
    border-bottom-right-radius: 5px;
    background: #fff;
    margin-top: 8px;
    border-top-right-radius: 5px;
    height: 100%;
    /* border: 2px solid #1890ff; */
    box-shadow: 0 2px 2px 2px #e7e7e7;
}

.CLient-sidebar_hide {
    display: none;
}

.Client_sidebar_button {
    width: 60px;
    height: 40px;
    position: sticky;
    z-index: 3; 
    top: 68px;
    margin: 8px 0px 0px 20px;
    border-radius: 7px;
    display: flex;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
    background-color: #1890ff;
    /* font-style: italic; */
    align-items: center;
    justify-content: center;
}

.Client_sidebar_button:hover {
    background-color: #14ebdd;
}

.CLient-sidebar {
    display: block;
}

.User_page-sidebar {
    display: block;
    padding: 10px 20px 0px 20px;
}

.CLient-sidebar-header-User {
    width: 100%;
    cursor: pointer;
    display: flex;
    border-top: 2px solid #e7e7e7;
    /* justify-content: center; */
    align-items: center;
}

.CLient-sidebar-header-User_main {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-radius: 10px;
}

.CLient-sidebar-header-User_main:hover {
    background: #e7e7e7;
}


.CLient-sidebar-titles-User {
    width: 100%;
    height: 100%;
    font-size: 19px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #656481;
}

.CLient-sidebar-titles-User:hover {
    color: #1890ff;
}

ul {
    padding-inline-start: 0px;
}


@media (max-width: 700px) {
    .CLient-sidebar-header-User {

        border: none;

    }
}