@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.Not_found_page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
}

.Not_found_container {
    width: 100%;
    height: 450px;
}

.Not_found_image {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.Not_found_image_tag {
    width: 350px;
    height: 100%;
}

.Not_found_homepage {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: 700;
    color: #333;
    /* color: rgb(229, 151, 7); */
    font-family: 'Open Sans', sans-serif;
}
@media (max-width: 640px) {
    .Not_found_page {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 20px;
    }
}